<div class="page">
    <md-toolbar layout="row">
        <md-button hide-gt-sm class="menu" ng-click="toggleSidenav('left')" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h3 class="md-toolbar-tools">Alterar senha</h3>
    </md-toolbar>
    <div class="content">
        <div layout="row">
            <div layout="column" flex>
                <md-card>
                    <md-card-content>
                        <div layout="row">
                            <md-input-container style="width: 100%;">
                                <label>Senha</label>
                                <input type="password" name="passwordOld" ng-model="u.passwordOld">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container style="width: 100%;">
                                <label>Nova senha</label>
                                <input type="password" name="password" ng-model="u.password">
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container style="width: 100%;">
                                <label>Confirmar nova senha</label>
                                <input type="password" name="passwordConfirm" ng-model="u.passwordConfirm">
                            </md-input-container>
                        </div>
                    </md-card-content>
                    <md-card-content>
                        <div layout="row">
                            <span flex></span>
                            <md-button class="md-raised md-primary" ng-click="navigateTo('/perfil')">
                                Cancelar
                            </md-button>
                            <md-button class="md-raised md-accent" ng-click="savePassword(u)">
                                Aplicar
                            </md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>
</div>
</div>