<div class="page">
    <md-toolbar layout="row">
        <md-button hide-gt-sm class="menu" ng-click="toggleSidenav('left')" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>

        <h3 class="md-toolbar-tools">{{pageTitle}}</h3>
    </md-toolbar>

    <div class="content">
        <md-card>
            <md-card-content style="background-color:#ededed;">
                <p style="font-weight:bold;margin-bottom:0;" class="fa-gray">
                    {{ task.description }}
                </p>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-content>
                <form>
                    <md-radio-group ng-model="choice">
                        <div layout="row" ng-repeat="option in options">
                            <md-radio-button ng-value="option.id" class="md-primary" style="float:left;" aria-label="option.description"></md-radio-button>
                            <p>
                                {{ option.description }}
                            </p>
                        </div>
                    </md-radio-group>
                </form>
            </md-card-content>
            <md-card-footer ng-show="task.taskCategory.classRoom.teacher.id != userAuthenticated.id">
                <div layout="row" class="float-right">
                    <md-button class="md-raised md-accent" ng-click="evaluate(choice, task);" ng-show="!task.answered">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        enviar
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="navigateTo('/rooms/' + task.taskCategory.classRoom.id)" ng-show="task.answered">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        voltar
                    </md-button>
                </div>
            </md-card-footer>
            <md-card-footer ng-show="task.taskCategory.classRoom.teacher.id == userAuthenticated.id">
                <div layout="row" class="float-right">
                    <md-button class="md-raised md-primary" ng-click="deleteTask(task)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        excluir
                    </md-button>
                    <md-button class="md-raised md-accent" ng-click="navigateTo('/rooms/tasks/edit/' + task.id);">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        editar
                    </md-button>
                </div>
            </md-card-footer>
        </md-card>
    </div>
</div>