<div class="page">
    <md-toolbar layout="row">
        <md-button hide-gt-sm class="menu" ng-click="toggleSidenav('left')" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>

        <h3 class="md-toolbar-tools">{{pageTitle}}</h3>
    </md-toolbar>

    <div class="content">
        <md-card>
            <md-card-content>
                {{ task.description }}
            </md-card-content>
            <md-divider></md-divider>
            <md-card-content style="background-color:#ededed;">
                <p style="font-weight:bold;margin-bottom:0;" class="fa-gray">Alternativas</p>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-content>
                <md-radio-group ng-model="choice">
                    <md-radio-button value="option.id" class="md-primary" ng-repeat="option in options">{{ option.description }}</md-radio-button>
                </md-radio-group>
            </md-card-content>
            <md-card-footer ng-if="userAuthenticated.id != task.taskCategory.classRoom.teacher.id">
                <div layout="row" class="float-right">
                    <md-button class="md-raised md-accent" ng-click="evaluate(choice);">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        enviar
                    </md-button>
                </div>
            </md-card-footer>
            <md-card-footer ng-if="userAuthenticated.id == task.taskCategory.classRoom.teacher.id">
                <div layout="row" class="float-right">
                    <md-button class="md-raised md-accent" ng-click="edit();">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        editar
                    </md-button>
                </div>
            </md-card-footer>
        </md-card>
    </div>
</div>