<div class="page">
    <md-toolbar layout="row">
        <md-button hide-gt-sm class="menu" ng-click="toggleSidenav('left')" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>

        <h3 class="md-toolbar-tools">Nova Atividade</h3>
    </md-toolbar>

    <div ng-cloak class="content">

        <md-card>
            <md-card-content>
                <div layout="column" flex>
                    <md-input-container>
                        <label>Título da atividade</label>
                        <input md-maxlength="30" required name="name" ng-model="task.title">
                    </md-input-container>

                    <md-input-container>
                        <label>Descrição</label>
                        <textarea ng-model="task.description" required columns="15" md-maxlength="150"></textarea>
                    </md-input-container>

                    <div flex-gt-xs>
                        <md-datepicker ng-model="task.closingDate" md-placeholder="Data encerramento"></md-datepicker>
                    </div>
                </div>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-content style="background-color:#ededed;">
                <p style="font-weight:bold;margin-bottom:0;" class="fa-gray">Alternativas</p>
            </md-card-content>
            <md-divider></md-divider>
            <md-card-content>
                <md-radio-group ng-model="correct">
                    <div layout="row">
                        <md-radio-button ng-value="0" class="md-primary" style="float:left;" aria-label="Alternativa 1"></md-radio-button>
                        <md-input-container style="float:left;" md-no-float flex>
                            <input ng-model="options[0].description" placeholder="Alternativa 1">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-radio-button ng-value="1" class="md-primary" style="float:left;" aria-label="Alternativa 2"></md-radio-button>
                        <md-input-container style="float:left;" md-no-float flex>
                            <input ng-model="options[1].description" placeholder="Alternativa 2">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-radio-button ng-value="2" class="md-primary" style="float:left;" aria-label="Alternativa 3"></md-radio-button>
                        <md-input-container style="float:left;" md-no-float flex>
                            <input ng-model="options[2].description" placeholder="Alternativa 3">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-radio-button ng-value="3" class="md-primary" style="float:left;" aria-label="Alternativa 4"></md-radio-button>
                        <md-input-container style="float:left;" md-no-float flex>
                            <input ng-model="options[3].description" placeholder="Alternativa 3">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-radio-button ng-value="4" class="md-primary" style="float:left;" aria-label="Alternativa 5"></md-radio-button>
                        <md-input-container style="float:left;" md-no-float flex>
                            <input ng-model="options[4].description" placeholder="Alternativa 5">
                        </md-input-container>
                    </div>
                </md-radio-group>
            </md-card-content>
            <md-card-footer>
                <div layout="row" class="float-right">

                    <md-button class="md-raised md-primary" ng-click="window.history.go(-1);">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        cancelar
                    </md-button>
                    <md-button class="md-raised md-accent" ng-click="createTask(task, options, correct);">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        criar
                    </md-button>
                </div>
            </md-card-footer>
        </md-card>
    </div>
</div>