<div class="page">
	<md-toolbar layout="row">
		<md-button hide-gt-sm class="menu" ng-click="toggleSidenav('left')" aria-label="Show User List">
			<md-icon md-svg-icon="menu"></md-icon>
		</md-button>
		<h3 class="md-toolbar-tools">Stonix Hero</h3>
	</md-toolbar>
	<div class="content">
		<div layout="row">
			<div layout="column" flex>
				<md-card>
					<md-card-content>
						<span class="md-headline">OldOwl</span>
					</md-card-content>
					<md-divider></md-divider>
					<md-card-content>
            			<span class="md-subhead">A OldOwl foi fundada em 2016 para ajudar os professores e alunos a se interagirem melhor através da plataforma de educação Stonix Hero. Junto gamification com educação para que os alunos se motivem mais a querer buscar conhecimento.</span>
					</md-card-content>
				</md-card>
			</div>
			
		</div>
		<div layout="row" >
			<div layout="column" flex>
				<md-card>
					<md-card-content>
						<span class="md-headline">Integrantes</span>
					</md-card-content>
					<md-divider></md-divider>
					<md-card-content>
						<div layout="row">
							<div layout="column" flex>
								<img src="../img/alife.jpg" width="150px" style="border-radius:3px;" />
								<h3>Álife Pereira</h3>
								<p>Estudante de Análise e Desenvolvimento de Software</p>
							</div>
							<div layout="column" flex>
								<img src="../img/augusto.jpg" width="150px" style="border-radius:3px;" />
								<h3>Augusto Zeponi</h3>
								<p>Estudante de Sistemas para Internet</p>
							</div>
						</div>
						<div layout="row">
							<div layout="column" flex>
								<img src="../img/bruna.jpg" width="150px" style="border-radius:3px;" />
								<h3>Bruna Marconato</h3>
								<p>Estudante de Sistemas para Internet</p>
							</div>
							<div layout="column" flex>
								<img src="../img/claudio.jpg" width="150px" style="border-radius:3px;" />
								<h3>Claudio Shiguemi</h3>
								<p>Estudante de Engenharia de Software</p>
							</div>
						</div>
						<div layout="row">
							<div layout="column" flex>
								<img src="../img/felipe.jpg" width="150px" style="border-radius:3px;" />
								<h3>Felipe Paetzold</h3>
								<p>Estudante de Análise e Desenvolvimento de Software</p>
							</div>
							<div layout="column" flex>
								<img src="../img/lucas.jpg" width="150px" style="border-radius:3px;" />
								<h3>Lucas Cazaroto</h3>
								<p>Estudante de Análise e Desenvolvimento de Software</p>
							</div>
						</div>
						<div layout="row">
							<div layout="column" flex>
								<img src="../img/simone.jpg" width="150px" style="border-radius:3px;" />
								<h3>Simone Shibata</h3>
								<p>Estudante de Sistemas para Internet</p>
							</div>
							<div layout="column" flex>
								<img src="../img/tiago.jpg" width="150px" style="border-radius:3px;" />
								<h3>Tiago Couto</h3>
								<p>Estudante de Engenharia de Software</p>
							</div>
						</div>
					</md-card-content>
				</md-card>
			</div>
		</div>
	</div>
</div>
</div>