<div class="page">

    <md-toolbar scroll layout="row">
        <h2 class="md-toolbar-tools">{{pageTitle}}</h2>

        <md-button hide-gt-sm class="menu" ng-click="toggleSidenav('left')" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>

        <div style="margin-left: 5.1%" class="md-toolbar-tools">
            <i class="fa fa-search" aria-hidden="true"
               title="Buscar perguntas"></i>
            <md-input-container md-theme="input">
                <input style="border-color: #fff; font-size: 14px; color: #fff; width: 300px;" ng-model="search"
                       aria-label="Buscar pergunta">
            </md-input-container>
        </div>
    </md-toolbar>

    <div ng-cloak class="tabsdemoDynamicHeight tool-fixed">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Todos">
                    <md-content>
                        <div class="content">
                            <div ng-show="diference > 0" class="text-center">
                                <a href="" ng-click="getAll()">{{diference}} novas perguntas</a>
                            </div>
                            <md-card ng-repeat="question in questions | filter:search | limitTo:limitAll"
                                     style="cursor:pointer;">
                                <md-card-content ng-click="navigateTo('/questions/answers/' + question.id)">
                                    <div layout="row">
                                        <div layout="column">
                                            <img ng-if="question.user.imageProfile"
                                                 data-ng-src="data:image/png;base64,{{ question.user.imageProfile }}"
                                                 class="userQuestion"
                                                 title="{{ question.user.name }}"/>
                                            <img ng-if="!question.user.imageProfile" title="{{question.user.name}}"
                                                 ng-src="../img/default.png"
                                                 class="userQuestion"/>
                                            {{ question.user.punctuation }} pts
                                        </div>
                                        <div layout="column" flex class="descQuestion">
                                            <strong>{{ question.title }}</strong>
                                            <div ng-bind-html="question.description | to_trusted" class="nowrap"></div>
                                        </div>
                                        <div layout="column">
                                            <i class="fa fa-check-square-o fa-blue float-right" aria-hidden="true"
                                               ng-if="question.answered" title="Resolvido"></i>
                                        </div>
                                    </div>
                                </md-card-content>
                                <md-divider></md-divider>
                                <md-card-footer>
                                    <a ng-if="!question.likedQuestion" ng-click="newLike(question)"
                                       class="actionQuestion like-no-underline">
                                        <i class="fa fa-thumbs-up fa-gray" aria-hidden="true"></i>
                                        {{question.numberLikes}} gostei
                                    </a>
                                    <a ng-if="question.likedQuestion" ng-click="unlike(question)"
                                       class="actionQuestion like-no-underline">
                                        <i class="fa fa-thumbs-up like-blue" aria-hidden="true"></i>
                                        <span class="like-blue">{{question.numberLikes}} gostei</span>
                                    </a>
                                    <a ng-click="navigateTo('/questions/answers/' + question.id)"
                                       class="actionQuestion">
                                        <i class="fa fa-comments fa-gray" aria-hidden="true"></i>
                                        {{question.numberAnswers}} respostas
                                    </a>
                                    <a class="actionQuestion noLink">
                                        <i class="fa fa-clock-o fa-gray" aria-hidden="true"></i>
                                        {{ question.lastUpdate | date: 'dd/MM/yyyy HH:mm' }}
                                    </a>
                                    <a class="actionQuestion noLink">
                                        <i class="fa fa-eye fa-gray" aria-hidden="true"></i>
                                        {{ question.views }} exibições
                                    </a>
                                    <a ng-show="!question.flaged && userAuthenticated.punctuation > 50"
                                       ng-click="flagQuestion(question)"
                                       class="actionQuestion like-no-underline float-right">
                                        <i class="fa fa-flag" aria-hidden="true"></i>
                                        <span>({{question.numberFlags}}) Sinalizar</span>
                                    </a>

                                    <a ng-show="question.flaged && userAuthenticated.punctuation >= 50"
                                       ng-click="unFlagQuestion(question)"
                                       class="actionQuestion like-no-underline float-right">
                                        <i class="fa fa-flag flaged" aria-hidden="true"></i>
                                        <span class="flaged">({{question.numberFlags}}) Tirar marcação</span>
                                    </a>
                                    <a ng-show="userAuthenticated.punctuation < 50"
                                       class="actionQuestion like-no-underline noLink float-right">
                                        <i class="fa fa-flag" aria-hidden="true"></i>
                                        <span>({{question.numberFlags}}) Marcações</span>
                                    </a>
                                </md-card-footer>
                            </md-card>
                        </div>
                        <div style="margin-bottom: 20px" ng-show="limitAll < questions.length" class="text-center">
                            <a href="" ng-click="viewMore()">Exibir mais</a>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Minhas perguntas">
                    <md-content>
                        <div class="content">

                            <md-card ng-click="navigateTo('/questions/' + myQuestion.id)"
                                     ng-repeat="myQuestion in myQuestions | filter:search | limitTo: myLimit"
                                     style="cursor:pointer;">
                                <md-card-content>
                                    <div layout="row">
                                        <div layout="column">
                                            <img ng-if="myQuestion.user.imageProfile"
                                                 data-ng-src="data:image/png;base64,{{ myQuestion.user.imageProfile }}"
                                                 class="userQuestion"
                                                 title="{{ myQuestion.user.name }}"/>
                                            <img ng-if="!myQuestion.user.imageProfile" title="{{myQuestion.user.name}}"
                                                 ng-src="../img/default.png"
                                                 class="userQuestion"/>
                                            {{ myQuestion.user.punctuation }} pts
                                        </div>
                                        <div layout="column" flex class="descQuestion">
                                            <strong>{{ myQuestion.title }}</strong>
                                            <div ng-bind-html="myQuestion.description | to_trusted"
                                                 class="nowrap"></div>
                                        </div>
                                        <div layout="column">
                                            <i class="fa fa-check-square-o fa-blue float-right" aria-hidden="true"
                                               ng-if="myQuestion.answered" title="Resolvido"></i>
                                        </div>
                                    </div>
                                </md-card-content>
                                <md-divider></md-divider>
                                <md-card-footer>
                                    <a ng-if="!myQuestion.likedQuestion" class="actionQuestion noLink">
                                        <i class="fa fa-thumbs-up fa-gray" aria-hidden="true"></i>
                                        {{myQuestion.numberLikes}} gostei
                                    </a>
                                    <a ng-if="myQuestion.likedQuestion" class="actionQuestion noLink">
                                        <i class="fa fa-thumbs-up like-blue" aria-hidden="true"></i>
                                        <span class="like-blue">{{myQuestion.numberLikes}} gostei</span>
                                    </a>
                                    <a class="actionQuestion">
                                        <i class="fa fa-comments fa-gray " aria-hidden="true"></i>
                                        {{ myQuestion.numberAnswers }} respostas
                                    </a>
                                    <a class="actionQuestion noLink">
                                        <i class="fa fa-clock-o fa-gray" aria-hidden="true"></i>
                                        {{ myQuestion.lastUpdate | date: 'dd/MM/yyyy HH:mm' }}
                                    </a>
                                    <a class="actionQuestion noLink">
                                        <i class="fa fa-eye fa-gray" aria-hidden="true"></i>
                                        {{ myQuestion.views }} exibições
                                    </a>
                                    <a class="actionQuestion like-no-underline noLink float-right">
                                        <i class="fa fa-flag" aria-hidden="true"></i>
                                        <span>({{myQuestion.numberFlags}}) Marcações</span>
                                    </a>
                                </md-card-footer>
                            </md-card>
                        </div>
                        <div style="margin-bottom: 20px" ng-show="myLimit < myQuestions.length" class="text-center">
                            <a href="" ng-click="viewMoreMy()">Exibir mais</a>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Nova pergunta" title="Tire suas dúvidas aqui e ganhe pontos de reputação">
                    <md-content>
                        <div class="content">

                            <md-card>
                                <md-card-content>

                                    <form name="questionForm">
                                        <md-input-container layout="row">
                                            <label>Título da pergunta</label>
                                            <input name="title" ng-model="question.title" required maxlength="250"
                                                   minlength="5">
                                            <div ng-messages="questionForm.title.$error"
                                                 ng-show="questionForm.title.$dirty">
                                                <div ng-message="required">Ei! Este campo é obrigatório!</div>
                                                <div ng-message="md-maxlength">Ops! Este campo não pode passar de 250
                                                    caracteres. :(
                                                </div>
                                                <div ng-message="minlength">Ops! Este campo deve conter mais que 5
                                                    caracteres.
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <div layout="row" class="div-label">Descrição</div>

                                        <div layout="row">
                                            <wysiwyg textarea-id="question"
                                                     textarea-class="area-color"
                                                     textarea-height="180px"
                                                     textarea-name="textareaQuestion"
                                                     textarea-required
                                                     ng-model="data.text"
                                                     enable-bootstrap-title="true"
                                                     textarea-menu="menu"
                                                     disabled="disabled"
                                                     ng-model="question.description">
                                            </wysiwyg>
                                        </div>
                                    </form>
                                </md-card-content>
                                <md-card-footer>
                                    <div layout="row" class="float-right">

                                        <md-button class="md-raised md-primary" ng-click="clearNewQuestion(question);">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            limpar
                                        </md-button>
                                        <md-button class="md-raised md-accent" ng-click="createQuestion();">
                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                            perguntar
                                        </md-button>
                                    </div>
                                </md-card-footer>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>