<div class="page">
    <md-toolbar scroll layout="row">
        <h2 class="md-toolbar-tools">Fórum</h2>

        <div class="md-toolbar-tools">
            <md-button hide-gt-sm class="menu" ng-click="toggleSidenav('left')" aria-label="Show User List">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
        </div>
        <div class="md-toolbar-tools">
            <i class="fa fa-search" aria-hidden="true"
               title="Buscar perguntas"></i>
            <md-input-container md-theme="input">
                <input style="border-color: #fff; font-size: 14px; color: #fff; width: 300px;" ng-model="search"
                       aria-label="Buscar pergunta">
            </md-input-container>
        </div>
    </md-toolbar>

    <div ng-cloak class="tabsdemoDynamicHeight">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Todos">
                    <md-content>
                        <div class="content">
                            <md-card ng-repeat="question in questions | filter:search | limitTo:limit"
                                     style="cursor:pointer;">
                                <md-card-content ng-click="getOne(question.id)">
                                    <div layout="row">
                                        <div layout="column">
                                            <img ng-if="question.user.imageProfile"
                                                 data-ng-src="data:image/png;base64,{{ question.user.imageProfile }}"
                                                 class="userQuestion"
                                                 title="{{ question.user.name }}"/>
                                            <img ng-if="!question.user.imageProfile" title="{{question.user.name}}"
                                                 ng-src="../img/default.png"
                                                 class="userQuestion"/>
                                            {{ question.user.punctuation }} pts
                                        </div>
                                        <div layout="column" flex class="descQuestion">
                                            <strong>{{ question.title }}</strong>
                                            <div ng-bind-html="question.description | to_trusted" class="nowrap"></div>
                                        </div>
                                        <div layout="column">
                                            <i class="fa fa-check-square-o fa-blue float-right" aria-hidden="true"
                                               ng-if="question.answered" title="Resolvido"></i>
                                        </div>
                                    </div>
                                </md-card-content>
                                <md-divider></md-divider>
                                <md-card-footer>
                                    <a class="actionQuestion noLink">
                                        <i class="fa fa-thumbs-up fa-gray" aria-hidden="true"></i>
                                        {{question.numberLikes}} gostei
                                    </a>
                                    <a class="actionQuestion noLink">
                                        <i class="fa fa-comments fa-gray" aria-hidden="true"></i>
                                        {{question.numberAnswers}} respostas
                                    </a>
                                    <a class="actionQuestion noLink">
                                        <i class="fa fa-clock-o fa-gray" aria-hidden="true"></i>
                                        {{ question.lastUpdate | date: 'dd/MM/yyyy HH:mm' }}
                                    </a>
                                    <a class="actionQuestion noLink">
                                        <i class="fa fa-eye fa-gray" aria-hidden="true"></i>
                                        {{ question.views }} exibições
                                    </a>
                                </md-card-footer>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
        <div ng-show="limit < questions.length" class="text-center">
            <a href="" ng-click="viewMore()">Exibir mais</a>
        </div>
    </div>
</div>