<md-dialog aria-label="Tutorial" ng-controller="LoginController">
    <form ng-cloak style="z-index: 100;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Bem vindo ao Stonix Hero</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="../../img/svg/cancel.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <p>A plataforma de educação mais interativa que você vai encontrar.</p>
            <p>Resolva suas dúvidas e ajude a quem precisa de informação, ganhe pontos e destaque dentro da nossa
                comunidade.</p>

            <ul>
                <li><p>Ganhe experiência (XP) a medida que você interage com a plataforma, perguntar, responder e
                    avaliar
                    vão fazer seu nível aumentar conforme seu XP evolui.</p>
                </li>

                <li><p>Reputação vai mostrar o quanto suas respostas e perguntas foram úteis para nossa comunidade,
                    aumente
                    sua reputação tendo suas respostas aceitas (essa é a melhor maneira), também é possível ganhar
                    reputação ao aceitar respostas, porém respostas ruins ou zoeiras vão fazer você perder reputação
                    (fica esperto!), ganhe e evidência nos rankings e seja feliz.</p>
                </li>
            </ul>
            <h1><a>#Supimpa</a></h1>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="md-raised md-primary" ng-click="showSecond()">próximo</md-button>
            </md-dialog-actions>
        </md-dialog-content>

    </form>
</md-dialog>