<div class="page">
    <md-toolbar layout="row">
        <md-button hide-gt-sm class="menu" ng-click="toggleSidenav('left')" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h3 class="md-toolbar-tools">{{pageTitle}}</h3>
    </md-toolbar>

    <div ng-cloak class="tabsdemoDynamicHeight">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Pontuação">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-card flex>
                                <md-card-content>
                                    <md-list-item ng-repeat="u in users | limitTo:limitPunct" class="noright"
                                                  ng-click="navigateTo('/perfil/' + u.id)">
                                        <div layout="column" flex="5">
                                            <img title="Primeiro lugar por pontuação" ng-src="../../img/gold-medal.png"
                                                 class="avatar" ng-if="$index == 0"/>
                                            <img title="Segundo lugar por pontuação" ng-src="../../img/silver-medal.png"
                                                 class="avatar" ng-if="$index == 1"/>
                                            <img title="Terceiro lugar por pontuação"
                                                 ng-src="../../img/bronze-medal.png" class="avatar"
                                                 ng-if="$index == 2"/>
                                            <p ng-if="$index > 2" class="avatar" style="margin: 8px 16px 8px 0px ;"><strong>{{
                                                $index + 1 }}</strong></p>
                                        </div>
                                        <div flex="5">
                                            <img ng-if="u.imageProfile" alt="{{ u.name }}"
                                                 data-ng-src="data:image/png;base64,{{ u.imageProfile }}"
                                                 class="avatar"/>
                                            <img ng-if="!u.imageProfile" title="{{u.name}}"
                                                 ng-src="../img/default.png"
                                                 class="avatar"/>
                                        </div>
                                        <div flex="30">
                                            <p>{{ u.name }}</p>
                                        </div>
                                        <div flex="20">
                                            <p>Level {{ u.level }}</p>
                                        </div>
                                        <div flex="30">
                                            <p>{{ u.punctuation }} reputação</p>
                                        </div>
                                        <div flex="10">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </div>
                                    </md-list-item>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div ng-show="limitPunct < users.length" class="text-center">
                            <a href="" ng-click="viewMorePunct()">Exibir mais</a>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Level">
                    <md-content class="md-padding">
                        <div layout="row">
                            <md-card flex>
                                <md-card-content>
                                    <md-list-item ng-repeat="u in usersLevel | limitTo:limitLevel" class="noright"
                                                  ng-click="navigateTo('/perfil/' + u.id)">
                                        <div layout="column" flex="5">
                                            <img title="Primeiro lugar por pontuação" ng-src="../../img/gold-medal.png"
                                                 class="avatar" ng-if="$index == 0"/>
                                            <img title="Segundo lugar por pontuação" ng-src="../../img/silver-medal.png"
                                                 class="avatar" ng-if="$index == 1"/>
                                            <img title="Terceiro lugar por pontuação"
                                                 ng-src="../../img/bronze-medal.png" class="avatar"
                                                 ng-if="$index == 2"/>
                                            <p ng-if="$index > 2" class="avatar" style="margin: 8px 16px 8px 0px ;"><strong>{{
                                                $index + 1 }}</strong></p>
                                        </div>
                                        <div flex="5">
                                            <img ng-if="u.imageProfile" alt="{{ u.name }}"
                                                 data-ng-src="data:image/png;base64,{{ u.imageProfile }}"
                                                 class="avatar"/>
                                            <img ng-if="!u.imageProfile" title="{{u.name}}"
                                                 ng-src="../img/default.png"
                                                 class="avatar"/>
                                        </div>
                                        <div flex="30">
                                            <p>{{ u.name }}</p>
                                        </div>
                                        <div flex="20">
                                            <p>Level {{ u.level }}</p>
                                        </div>
                                        <div flex="30">
                                            <p>{{ u.punctuation }} reputação</p>
                                        </div>
                                        <div flex="10">
                                            <i class="fa fa-user-plus margin-fa" aria-hidden="true"></i>
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        </div>
                                    </md-list-item>
                                </md-card-content>
                            </md-card>
                        </div>
                        <div ng-show="limitLevel < usersLevel.length" class="text-center">
                            <a href="" ng-click="viewMoreLevel()">Exibir mais</a>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>

</div>
